<select class="x-page-select">
    {{#each pages}}
        {{#if current}}
            <option value="{{page}}" selected="selected">{{page}}</option>
        {{else}}
            <option value="{{page}}">{{page}}</option>
        {{/if}}
    {{/each}}
</select>