<ul>
    {{#each handles}}
        <li {{#if className}}class="{{className}}"{{/if}} >
            {{#if pageNumber}}
                <span class="x-page-number">{{pageNumber}} / {{lastPage}}</span>
            {{else}}
            <i class="pager-btn clickable {{label}}" data-action="{{action}}"/>
            {{/if}}
        </li>
    {{/each}}
</ul>

<span class="total-records">
    <span class="hidden-xs">Total records: {{Number state.totalRecords}}</span>
    <span class="visible-xs label label-info" title="Total records">{{Number state.totalRecords}}</span>
</span>