<div class="row">
    <div class="series-legend legend col-xs-6 col-sm-4">
        <ul class='legend-labels'>
            <li><span class="progress-bar"></span>Continuing (All episodes downloaded)</li>
            <li><span class="progress-bar-success"></span>Ended (All episodes downloaded)</li>
            <li><span class="progress-bar-danger"></span>Missing Episodes (Series monitored)</li>
            <li><span class="progress-bar-warning"></span>Missing Episodes (Series not monitored)</li>
        </ul>
    </div>
    <div class="col-xs-5 col-sm-7">
        <div class="row">
            <div class="series-stats col-sm-4">
                <dl class="dl-horizontal">
                    <dt>Series</dt>
                    <dd>{{series}}</dd>

                    <dt>Ended</dt>
                    <dd>{{ended}}</dd>

                    <dt>Continuing</dt>
                    <dd>{{continuing}}</dd>
                </dl>
            </div>

            <div class="series-stats col-sm-4">
                <dl class="dl-horizontal">
                    <dt>Monitored</dt>
                    <dd>{{monitored}}</dd>

                    <dt>Unmonitored</dt>
                    <dd>{{unmonitored}}</dd>
                </dl>
            </div>

            <div class="series-stats col-sm-4">
                <dl class="dl-horizontal">
                    <dt>Episodes</dt>
                    <dd>{{episodes}}</dd>

                    <dt>Files</dt>
                    <dd>{{episodeFiles}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
