<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@{ Layout = "~/Views/Shared/_ReferenceLayout.cshtml"; }
@using NzbDrone.Common
@using NzbDrone.Web.Helpers
@using StackExchange.Profiling
@section HeaderContent
{
    @if (string.IsNullOrWhiteSpace(ViewBag.Title) || String.Equals(ViewBag.Title, "NzbDrone", StringComparison.InvariantCultureIgnoreCase))
    {
        ViewBag.Title = "NzbDrone";
    }
    else
    {
        ViewBag.Title = String.Format("{0} - NzbDrone", ViewBag.Title);
    }
    <title>@ViewBag.Title</title>
    @if (!Request.Browser.IsMobileDevice && (!EnvironmentProvider.IsProduction || ProfilerHelper.Enabled()))
    {
        @MiniProfiler.RenderIncludes()
    }
    @Html.IncludeCss("Grid.css")
    @RenderSection("HeaderContent", required: false)
}
<div id="centered">
    <div id="menu">
        <ul>
            @MvcHtmlString.Create(Html.CurrentControllerLink("Series", "Index", "Series"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("Upcoming", "Index", "Upcoming"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("History", "Index", "History"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("Missing", "Index", "Missing"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("Settings", "Index", "Settings"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("System", "Index", "System"))
            <li id="donate" title="Donate to support the development of NzbDrone"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KRTE52U3XJDSQ" target="_blank">Donate</a></li>
        </ul>
    </div>
    <div id="right-menu">
        <ul>
            <li>@{ Html.RenderAction("FreeSpace", "Shared"); }</li>
            <li><input id="localSeriesLookup" type="text" /></li>
        </ul>
    </div>
    
    <div id="upgrade-now">
        <h3>
            You are running an old version of NzbDrone. Please upgrade to latest version and enjoy a brand new UI and tons of new features and enhancements
            <a href="http://www.nzbdrone.com" target="_blank">www.nzbdrone.com</a>
        </h3>
    </div>

    <div id="logo">
        <span>@ViewBag.Title</span>
    </div>
    <div id="page">
        @RenderSection("ActionMenu", required: false)
        @RenderBody()
    </div>
    <div id="footer">
        @{Html.RenderAction("Footer", "Shared");}
    </div>
</div>
<div id="msgBox">
    <span id="msgText">background notification</span>
</div>
@section Scripts
{
    @RenderSection("Scripts", required: false)
}
