<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@using Helpers;
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="SHORTCUT ICON" href="../../favicon.ico" />
    <title>NZBDrone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link type="text/css" rel="stylesheet" href="http://aspnet-skins.telerikstatic.com/mvcz/2011.1.414/telerik.common.min.css" />
    <link type="text/css" rel="stylesheet" href="http://aspnet-skins.telerikstatic.com/mvcz/2011.1.414/telerik.sitefinity.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/Blueprint/screen.css" />
    <link type="text/css" rel="stylesheet" href="/Content/jQueryUI/jquery-ui-1.8.14.nzbdrone.css" />
    <link type="text/css" rel="stylesheet" href="/Content/NzbDrone.css" />
    <link type="text/css" rel="stylesheet" href="/Content/Notibar.css" />
    <link type="text/css" rel="stylesheet" href="/Content/ActionButton.css" />
    <link type="text/css" rel="stylesheet" href="/Content/overrides.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/MicrosoftMvcAjax.js"></script>
    <script type="text/javascript" src="/Scripts/Plugins/jquery.form.js"></script>
    <script type="text/javascript" src="/Scripts/Plugins/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="/Scripts/Plugins/jquery-tgc-countdown-1.0.js"></script>
    <script type="text/javascript" src="/Scripts/Plugins/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="/Scripts/Plugins/doTimeout.js"></script>
    <script type="text/javascript" src="/Scripts/episodeSearch.js"></script>
    <script type="text/javascript" src="/Scripts/autocomplete.js"></script>
    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    @RenderSection("HeaderContent", required: false)
</head>
<body>
    <div class="container">
        <div id="menu" class="span-24 last prepend-top append-bottom">
            <ul>
                @MvcHtmlString.Create(Html.CurrentActionLink("Series", "Index", "Series"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Upcoming", "Index", "Upcoming"))
                @MvcHtmlString.Create(Html.CurrentActionLink("History", "Index", "History"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Settings", "Index", "Settings"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Logs", "Index", "Log"))
            </ul>
        </div>
        <hr />
        <div class="span-24 last">
            <div id="logo">
                @RenderSection("TitleContent", required: false)
            </div>
        </div>
        <hr />
        <div class="span-24 last">
            <div id="page">
                @RenderSection("ActionMenu", required: false)
                @RenderSection("MainContent", required: false)
                @RenderBody()
            </div>
        </div>
        <hr />
        <div id="footer" class="span-24 last">
            @{Html.RenderAction("Footer", "Shared");}
        </div>
    </div>
    <div id="msgBox">
        <span id="msgText">background notification</span>
    </div>
    @(Html.Telerik().ScriptRegistrar().jQuery(false))
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="/Scripts/Notification.js"></script>
</body>
</html>
