@using Helpers;
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="SHORTCUT ICON" href="../../favicon.ico" />
    <title>NZBDrone</title>
    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    <link href="/Content/Blueprint/screen.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Blueprint/ie.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="http://aspnet-skins.telerikstatic.com/mvcz/2011.1.414/telerik.common.min.css"
        rel="stylesheet" />
    <link type="text/css" href="http://aspnet-skins.telerikstatic.com/mvcz/2011.1.414/telerik.sitefinity.min.css"
        rel="stylesheet" />
    <link type="text/css" href="http://aspnet-skins.telerikstatic.com/mvcz/2011.1.414/telerik.rtl.min.css"
        rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Notibar.css" rel="stylesheet" type="text/css" />
    @RenderSection("HeaderContent", required: false)
</head>
<body>
    <div class="container">
        <div id="menu" class="span-24 last prepend-top append-bottom">
            <ul>
                @MvcHtmlString.Create(Html.CurrentActionLink("Series", "Index", "Series"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Upcoming", "Index", "Upcoming"))
                @MvcHtmlString.Create(Html.CurrentActionLink("History", "Index", "History"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Settings", "Index", "Settings"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Logs", "Index", "Log"))
            </ul>
        </div>
        <hr />
        <div class="span-24 last">
            <div id="logo">
                @RenderSection("TitleContent", required: false)
            </div>
        </div>
        <hr />
        <div class="span-24 last">
            <div id="page">
                @RenderSection("ActionMenu", required: false)
                @RenderSection("MainContent", required: false)
                @RenderBody()
            </div>
        </div>
        <hr />
        <div id="footer" class="span-24 last">
            @{Html.RenderAction("Footer", "Shared");}
        </div>
    </div>
    <div id="msgBox">
        <span id="msgText">Scanning Series Folder...</span>
    </div>
</body>
@RenderSection("Scripts", required: false)
@{Html.Telerik().ScriptRegistrar().jQuery(true).Scripts(
        c => c.AddGroup("CDN", group => group
                    .Add("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
                    .Add("http://ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js"))

                    .AddGroup("3rdParty", group => group
                    .Add("jquery.form.js")
                    .Add("jquery.jgrowl.js")
                    .Add("jquery-tgc-countdown-1.0.js")
                    .Add("MicrosoftMvcValidation.js").Combined(true).Compress(true))

                    .AddGroup("NzbDrone", group => group
                                        .Add("Notification.js")
                                        .Add("gridLoad.js")
                                        .Add("episodeSearch.js"))

                                        ).Render();}
</html>
