@using Helpers;

<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="SHORTCUT ICON" href="../../favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title>NZBDrone</title>
    @{Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css")
          //.Add("Blueprint/screen.css")
          //.Add("Blueprint/ie.css")
                                                                           .Add("telerik.sitefinity.css")
          //.Add("notibar.css")
          //.Add("Site.css")
          //.Add("jquery-ui.css")
          //.Add("jquery-ui.custom.css").Compress(true))
                                                                           ).Render();}
    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    @RenderSection("HeaderContent", required: false)
</head>
<body>
    <div class="container">
        <div id="menu" class="span-24 last">
            <ul>
                @MvcHtmlString.Create(Html.CurrentActionLink("Series", "Index", "Series"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Upcoming", "Index", "Upcoming"))
                @MvcHtmlString.Create(Html.CurrentActionLink("History", "Index", "History"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Settings", "Index", "Settings"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Logs", "Index", "Log"))
            </ul>
        </div>
        <hr />
        <div id="logo" class="span-24 last">
            @RenderSection("TitleContent", required: false)
        </div>
        <hr />
        <div id="page" class="span-24 last">
            @RenderSection("ActionMenu", required: false)
            @RenderSection("MainContent", required: false)
            @RenderBody()
        </div>
        <hr />
        <div id="footer" class="span-24 last">
            @{Html.RenderAction("Footer", "Shared");}
        </div>
    </div>
    <div id="msgBox">
        <span id="msgText">Scanning Series Folder...</span>
    </div>
</body>
@RenderSection("Scripts", required: false)
@{Html.Telerik().ScriptRegistrar().jQuery(true).Scripts(
        c => c.AddGroup("CDN", group => group
                    .Add("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
                    .Add("http://ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js"))

                    .AddGroup("3rdParty", group => group
                    .Add("jquery.form.js")
                    .Add("jquery.jgrowl.js")
                    .Add("jquery-tgc-countdown-1.0.js")
                    .Add("MicrosoftMvcValidation.js").Combined(true).Compress(true))

                    .AddGroup("NzbDrone", group => group
                                        .Add("Notification.js")
                                        .Add("gridLoad.js")
                                        .Add("episodeSearch.js"))

                                        ).Render();}
</html>
