<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@using NzbDrone.Common
@using NzbDrone.Web.Helpers
@using Telerik.Web.Mvc.UI
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="SHORTCUT ICON" href="../../favicon.ico" />
    <title>NzbDrone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link type="text/css" rel="stylesheet" href="../../Content/2011.3.1115/telerik.common.min.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/2011.3.1115/telerik.sitefinity.min.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/jQueryUI/jquery-ui-1.8.14.nzbdrone.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/jquery.gritter.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/NzbDrone.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/Notibar.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/ActionButton.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/overrides.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/Menu.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/Slider.css" />
    <script type="text/javascript" src="../../Scripts/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery-ui-1.8.16.min.js"></script>
    <script type="text/javascript" src="../../Scripts/MicrosoftAjax.js"></script>
    <script type="text/javascript" src="../../Scripts/MicrosoftMvcAjax.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.gritter.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery-tgc-countdown-1.0.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="../../Scripts/doTimeout.js"></script>
    <script type="text/javascript" src="../../Scripts/NzbDrone/episodeSearch.js"></script>
    <script type="text/javascript" src="../../Scripts/NzbDrone/AutoComplete.js"></script>
    <script type="text/javascript" src="../../Scripts/NzbDrone/addSeries.js"></script>
    <script type="text/javascript" src="../../Scripts/NzbDrone/slider.js"></script>
    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    @RenderSection("HeaderContent", required: false)
</head>
<body>
    <div id="centered">
        @{Html.RenderAction("LocalSearch", "Shared");}
        <div id="menu">
            <ul>
                @MvcHtmlString.Create(Html.CurrentActionLink("Series", "Index", "Series"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Upcoming", "Index", "Upcoming"))
                @MvcHtmlString.Create(Html.CurrentActionLink("History", "Index", "History"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Missing", "Index", "Missing"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Settings", "Index", "Settings"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Logs", "Index", "Log"))
            </ul>
   
        </div>
        <div id="logo">
            @RenderSection("TitleContent", required: false)
        </div>
        <div id="page">
            @RenderSection("ActionMenu", required: false)
            @RenderSection("MainContent", required: false)
            @RenderBody()
        </div>
        <div id="footer">
            @{Html.RenderAction("Footer", "Shared");}
        </div>
    </div>
    <div id="msgBox">
        <span id="msgText">background notification</span>
    </div>
    @(Html.Telerik().ScriptRegistrar().jQuery(false))
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="../../Scripts/NzbDrone/Notification.js"></script>   
   
    @if (EnviromentProvider.IsProduction)
    {
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8318723-7']);
            _gaq.push(['_setDomainName', 'none']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    }
</body>
</html>
