<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@{ Layout = "~/Views/Shared/_ReferenceLayout.cshtml"; }
@using NzbDrone.Common
@using NzbDrone.Web.Helpers
@using StackExchange.Profiling
@section HeaderContent
{
    @if (string.IsNullOrWhiteSpace(ViewBag.Title) || String.Equals(ViewBag.Title, "NzbDrone", StringComparison.InvariantCultureIgnoreCase))
    {
        ViewBag.Title = "NzbDrone";
    }
    else
    {
        ViewBag.Title = String.Format("{0} - NzbDrone", ViewBag.Title);
    }
    <title>@ViewBag.Title</title>
    @if (!Request.Browser.IsMobileDevice && (!EnvironmentProvider.IsProduction || ProfilerHelper.Enabled()))
    {
        @MiniProfiler.RenderIncludes()
    }
    @Html.IncludeCss("Grid.css")
    @RenderSection("HeaderContent", required: false)
}
<div id="centered">
    <div id="menu">
        <ul>
            @MvcHtmlString.Create(Html.CurrentControllerLink("Series", "Index", "Series"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("Upcoming", "Index", "Upcoming"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("History", "Index", "History"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("Missing", "Index", "Missing"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("Settings", "Index", "Settings"))
            @MvcHtmlString.Create(Html.CurrentControllerLink("Logs", "Index", "Log"))
            <li id="donate" title="Donate to support the development of NzbDrone"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JLMF78JRUT6TJ" target="_blank">Donate</a></li>
        </ul>
        <input id="localSeriesLookup" type="text" />
    </div>
    <div id="logo">
        <span>@ViewBag.Title</span>
    </div>
    <div id="page">
        @RenderSection("ActionMenu", required: false)
        @RenderBody()
    </div>
    <div id="footer">
        @{Html.RenderAction("Footer", "Shared");}
    </div>
</div>
<div id="msgBox">
    <span id="msgText">background notification</span>
</div>
@section Scripts
{
    @RenderSection("Scripts", required: false)
    @Html.IncludeScript("jquery.signalR.min.js")
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
}
