<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@{ Layout = "~/Views/Shared/_RefrenceLayout.cshtml"; }
@using NzbDrone.Common
@using NzbDrone.Web.Helpers
@section HeaderContent
{
    @if (!EnviromentProvider.IsProduction)
    {
        @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    }
    @RenderSection("HeaderContent", required: false)
}
<div id="centered">
    <div id="menu">
        <ul>
            @MvcHtmlString.Create(Html.CurrentActionLink("Series", "Index", "Series"))
            @MvcHtmlString.Create(Html.CurrentActionLink("Upcoming", "Index", "Upcoming"))
            @MvcHtmlString.Create(Html.CurrentActionLink("History", "Index", "History"))
            @MvcHtmlString.Create(Html.CurrentActionLink("Missing", "Index", "Missing"))
            @MvcHtmlString.Create(Html.CurrentActionLink("Settings", "Index", "Settings"))
            @MvcHtmlString.Create(Html.CurrentActionLink("Logs", "Index", "Log"))
        </ul>
        <input id="localSeriesLookup" type="text" />
    </div>
    <div id="logo">
        @RenderSection("TitleContent", required: false)
    </div>
    <div id="page">
        @RenderSection("ActionMenu", required: false)
        @RenderBody()
    </div>
    <div id="footer">
        @{Html.RenderAction("Footer", "Shared");}
    </div>
</div>
<div id="msgBox">
    <span id="msgText">background notification</span>
</div>
@section Scripts
{
    @RenderSection("Scripts", required: false)
    @if (EnviromentProvider.IsProduction)
    {
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8318723-7']);
            _gaq.push(['_setDomainName', 'none']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    }
}
