<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@using NzbDrone.Web.Helpers
@using StackExchange.Profiling

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        @this.InitClientTimings()
        <link rel="SHORTCUT ICON" href="../../favicon.ico" />

        <!-- Standard iPhone --> 
        <link rel="apple-touch-icon" sizes="57x57" href="../../Content/Images/apple-touch-icon-114.png" />
        <!-- Retina iPhone --> 
        <link rel="apple-touch-icon" sizes="114x114" href="../../Content/Images/apple-touch-icon-114.png" />
        <!-- Standard iPad --> 
        <link rel="apple-touch-icon" sizes="72x72" href="../../Content/Images/apple-touch-icon-144.png" />
        <!-- Retina iPad --> 
        <link rel="apple-touch-icon" sizes="144x144" href="../../Content/Images/apple-touch-icon-144.png" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        @Html.IncludeCss("jQueryUI/jquery-ui-1.8.16.custom.css")
        @Html.IncludeCss("jquery.gritter.css")
        @Html.IncludeCss("NzbDrone.css")
        @Html.IncludeCss("ActionButton.css")
        @Html.IncludeCss("Menu.css")
        @Html.IncludeCss("Messages.css")
        @Html.IncludeCss("DataTables-NzbDrone/media/css/jquery.dataTables.css")
        @Html.IncludeCss("overrides.css")
        @Html.IncludeCss("font-awesome.css")
        @RenderSection("HeaderContent", required: false)
    </head>
    <body>
        @RenderBody()
        @Html.IncludeScript("jquery-1.8.2.min.js")
        @Html.IncludeScript("jquery-ui-1.8.17.min.js")
        @Html.IncludeScript("jquery.livequery.js")
        @Html.IncludeScript("jquery.gritter.js")
        @Html.IncludeScript("jquery.form.js")
        @Html.IncludeScript("jquery-tgc-countdown-1.0.js")
        @Html.IncludeScript("jquery.watermark.min.js")
        @Html.IncludeScript("jquery.hotkeys.js")
        @Html.IncludeScript("jquery.signalR-0.5.3.min.js")
        @Html.IncludeScript("jquery.validate.js")
        @Html.IncludeScript("jquery.validate.unobtrusive.js")
        @Html.IncludeScript("jquery.unobtrusive-ajax.min.js")
        @Html.IncludeScript("jquery.cookie.js")
        @Html.IncludeScript("doTimeout.js")
        @Html.IncludeScript("conditional-validation.js")
        <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
        @Html.IncludeScript("NzbDrone/localSearch.js")
        @Html.IncludeScript("NzbDrone/AutoComplete.js")
        @Html.IncludeScript("NzbDrone/Notification.js")
        @Html.IncludeScript("NzbDrone/AutoBind.js")
        @Html.IncludeScript("NzbDrone/grid.js")
        @Html.IncludeScript("DataTables-1.9.4/media/js/jquery.dataTables.min.js")
        @Html.IncludeScript("DataTables-1.9.4/media/js/jquery.dataTables.reloadAjax.js")
        @Html.IncludeScript("DataTables-1.9.4/media/js/jquery.dataTables.editable.js")
        @Html.IncludeScript("DataTables-1.9.4/media/js/jquery.jeditable.js")
        @Html.IncludeScript("DataTables-1.9.4/media/js/jquery.dataTablesFilteringDelay.js")
        @Html.IncludeScript("DataTables-1.9.4/media/js/FixedHeader.min.js")
        @Html.IncludeScript("jquery.dataTables.4button.pagination.js")
        @Html.IncludeScript("NzbDrone/common.js")
        @Html.IncludeScript("underscore.min.js")
        @Html.IncludeScript("backbone.min.js")
        @Html.IncludeScript("backbone.marionette.min.js")
        @RenderSection("Scripts", required: false)
    </body>
</html>