<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@using NzbDrone.Web.Helpers
@using Telerik.Web.Mvc.UI
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="SHORTCUT ICON" href="../../favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Html.IncludeCss("2011.3.1115/telerik.common.min.css")
    @Html.IncludeCss("2011.3.1115/telerik.sitefinity.min.css")
    @Html.IncludeCss("jQueryUI/jquery-ui-1.8.16.custom.css")
    @Html.IncludeCss("jquery.gritter.css")
    @Html.IncludeCss("NzbDrone.css")
    @Html.IncludeCss("ActionButton.css")
    @Html.IncludeCss("overrides.css")
    @Html.IncludeCss("Menu.css")
    @Html.IncludeCss("Messages.css")
    @RenderSection("HeaderContent", required: false)
</head>
<body>
    @RenderBody()
    @(Html.Telerik().ScriptRegistrar().jQuery(true))
    @Html.IncludeScript("jquery-ui-1.8.16.min.js")
    @Html.IncludeScript("jquery.livequery.js")
    @Html.IncludeScript("MicrosoftAjax.js")
    @Html.IncludeScript("MicrosoftMvcAjax.js")
    @Html.IncludeScript("jquery.gritter.js")
    @Html.IncludeScript("jquery.form.js")
    @Html.IncludeScript("jquery-tgc-countdown-1.0.js")
    @Html.IncludeScript("jquery.watermark.min.js")
    @Html.IncludeScript("jquery.hotkeys.js")
    @Html.IncludeScript("doTimeout.js")
    @Html.IncludeScript("NzbDrone/episodeSearch.js")
    @Html.IncludeScript("NzbDrone/AutoComplete.js")
    @Html.IncludeScript("NzbDrone/LocalSearch.js")
    @Html.IncludeScript("NzbDrone/Notification.js")
    @Html.IncludeScript("NzbDrone/AutoBind.js")
    @RenderSection("Scripts", required: false)
</body>
</html>
