@using Helpers;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head runat="server">
    <link rel="SHORTCUT ICON" href="../../favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>NZBDrone</title>
    @{Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css")
                                                                           .Add("telerik.sitefinity.css")
                                                                           .Add("notibar.css"))
                                                                           .Render();}
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery-ui.custom.css" rel="stylesheet" type="text/css" />
    @RenderSection("HeaderContent", required: false)
</head>
<body>
    <div id="centered">
        <div id="menu">
            <ul>
                @MvcHtmlString.Create(Html.CurrentActionLink("Series", "Index", "Series"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Upcoming", "Index", "Upcoming"))
                @MvcHtmlString.Create(Html.CurrentActionLink("History", "Index", "History"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Settings", "Index", "Settings"))
                @MvcHtmlString.Create(Html.CurrentActionLink("Logs", "Index", "Log"))
            </ul>
        </div>
        <div id="logo">
            @RenderSection("TitleContent", required: false)
        </div>
        <div id="page">
            @RenderSection("ActionMenu", required: false)
            @RenderSection("MainContent", required: false)
            @RenderBody()
        </div>
        <div id="footer">
            @{Html.RenderAction("Footer", "Shared");}
        </div>
    </div>
    <div id="msgBox">
        <span id="msgText">Scanning Series Folder...</span>
    </div>
</body>
@RenderSection("Scripts", required: false)
@{Html.Telerik().ScriptRegistrar().Scripts(
        c => c.Add("jquery-ui-1.8.8.min.js")
                    .Add("jquery.form.js")
                    .Add("jquery.jgrowl.js")
                    .Add("Notification.js")
                    .Add("jquery-tgc-countdown-1.0.js")
                    .Add("MicrosoftAjax.js")
                    .Add("MicrosoftMvcValidation.js")
                    .Add("gridLoad.js"))
        .Render();}
</html>
