@{
    Layout = null;
}

@using Cassette.Scripts
@using Cassette.Stylesheets
@using NzbDrone.Web
@using NzbDrone.Web.Backbone.NzbDrone
@using NzbDrone.Web.Helpers
@{   
    Bundles.Reference<StylesheetBundle>(CassetteBundleConfiguration.BASE_STYLE);
    Bundles.Reference<ScriptBundle>(CassetteBundleConfiguration.NZBDRONE);
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@ViewBag.Title - NzbDrone</title>
    <link rel="SHORTCUT ICON" href="../../favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="../../Content/Images/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../../Content/Images/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../../Content/Images/apple-touch-icon-144.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../../Content/Images/apple-touch-icon-144.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    @Bundles.RenderStylesheets()
</head>
<body>
    <div class="container">
        <div id="menu" class="row">
            <div class="span20">
                <ul>
                    @MvcHtmlString.Create(Html.CurrentControllerLink("Series", "Index", "Series"))
                    @MvcHtmlString.Create(Html.CurrentControllerLink("Upcoming", "Index", "Upcoming"))
                    @MvcHtmlString.Create(Html.CurrentControllerLink("History", "Index", "History"))
                    @MvcHtmlString.Create(Html.CurrentControllerLink("Missing", "Index", "Missing"))
                    @MvcHtmlString.Create(Html.CurrentControllerLink("Settings", "Index", "Settings"))
                    @MvcHtmlString.Create(Html.CurrentControllerLink("System", "Index", "System"))
                    <li id="donate" title="Donate to support the development of NzbDrone">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KRTE52U3XJDSQ" target="_blank">Donate</a>
                    </li>
                </ul>
                <input id="localSeriesLookup" type="text" class="pull-right" placeholder="Search..." />
            </div>
        </div>
        <div id="logo" class="row">
            <div class="span18 offset2">
               Single page
            </div>
        </div>
        <div id="content" class="row">
            <div class="span20">
                <div id="error-region" class="row">
                </div>
                <div id="sub-menu-region" class="row">
                </div>
                <div class="row">
                    <div id="main-region" class="span20 nz-center">
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="row nz-center">
            <div id="footer-region" class="span20"></div>
        </div>
    </div>
    @Bundles.RenderScripts()
    <script type="text/javascript">
        NzbDrone.start();
    </script>
</body>
</html>
