@using NzbDrone.Web.Helpers;
@using NzbDrone.Web.Models;
@model NzbDrone.Web.Models.SeriesModel

@{
    Layout = null;
}

<div style="width: 435px; margin: 10px;">
                     
    @Html.HiddenFor(m => m.SeriesId)

    <div class="edit-group">
        <div class="config-title">@Html.LabelFor(m => m.Path)</div>
        <div class="config-value">@Html.TextBoxFor(m => m.Path, new { style = "width: 300" })</div>
    </div>

    <div class="edit-group">
        <div class="config-title">@Html.LabelFor(m => m.Monitored)</div>
        <div class="config-value">@Html.CheckBoxFor(m => m.Monitored, new { style = "margin-right:287px" })</div>
    </div>

    <div class="edit-group">
        <div class="config-title">@Html.LabelFor(m => m.SeasonFolder)</div>
        <div class="config-value">@Html.CheckBoxFor(m => m.SeasonFolder, new { style = "margin-right:287px" })</div>
    </div>

    <div class="edit-group">
        <b>@Html.LabelFor(m => m.QualityProfileId)</b>
        @Html.DropDownListFor(model => model.QualityProfileId, (SelectList)ViewData["SelectList"], new { style = "margin-left:40px" })
    </div>

    <div id="seasonEditorSection">
        <div style="font-weight: bold; padding-right: 15px; padding-bottom: 5px;">
            @Html.LabelFor(m => m.SeasonEditor)
            <span id="seasonEditorLoader"><img src="../../../Content/Images/ajax-loader.gif" width="14px" height="14px" style="margin-bottom: -2px;"/></span>
        </div>
        <div id="season-editor"></div>
    </div>
  
</div>
<span id="ajaxSaveWheel" style="display: none; float: right; padding-right: 368px; padding-top: 1.5px;"><img src="../../../Content/Images/ajax-loader.gif" width="20px" height="20px"/></span>