
@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.HistoryModel

<tr class="@Model.EpisodeId">
    <td><img alt='@Model.Indexer' src='@Url.Content("~/Content/Images/Indexers/")@(Model.Indexer).png' /></td>
    <td>@Html.ActionLink(Model.SeriesTitle, "Details", "Series", new { seriesId = Model.SeriesId }, null)</td>
    <td>@Model.SeasonNumber</td>
    <td>@Model.EpisodeNumber</td>
    <td>@Model.EpisodeTitle</td>
    <td>@Model.Quality</td>
    <td>@Model.Date</td>

    @*Commands Column*@
    <td>
        @Ajax.ImageActionLink("../../Content/Images/X.png", new { Alt = "Delete", Title = "Delete from history", @class = "searchImage" }, "Delete", "History", new { HistoryId = Model.HistoryId }, new AjaxOptions { OnSuccess = "reloadHistoryGrid" }, null)
        @Ajax.ImageActionLink("../../Content/Images/Downloading.png", new { Alt = "Redownload", Title = "Redownlod Episode", @class = "searchImage" }, "Redownload", "History", new { HistoryId = @Model.HistoryId, EpisodeId = @Model.EpisodeId }, new AjaxOptions { OnSuccess = "reloadHistoryGrid" }, null)
    </td>
    
    @*Details Column*@
    <td>
        <b>Overview: </b>@Model.EpisodeOverview<br/>
        <b>NZB Title: </b>@Model.NzbTitle<br/>
        <b>Proper: </b>@Model.IsProper
    </td>
</tr>