<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        {{#if id}}
            <h3>Edit - {{implementationName}}</h3>
        {{else}}
            <h3>Add - {{implementationName}}</h3>
        {{/if}}
    </div>
    <div class="modal-body indexer-modal">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>

                <div class="col-sm-5">
                    <input type="text" name="name" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Enable RSS Sync</label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <label class="checkbox toggle well">
                            <input type="checkbox" name="enableRss" {{#unless supportsRss}}disabled="disabled"{{/unless}}/>
                            <p>
                                <span>Yes</span>
                                <span>No</span>
                            </p>

                            <div class="btn btn-primary slide-button"/>
                        </label>
                        {{#unless supportsRss}}
                        <span class="help-inline-checkbox">
                            <i class="icon-sonarr-form-warning" title="" data-original-title="RSS is not supported with this indexer"></i>
                        </span>
                        {{/unless}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Enable Search</label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <label class="checkbox toggle well">

                            <input type="checkbox" name="enableSearch" {{#unless supportsSearch}}disabled="disabled"{{/unless}}/>
                            <p>
                                <span>Yes</span>
                                <span>No</span>
                            </p>

                            <div class="btn btn-primary slide-button"/>
                        </label>
                        {{#unless supportsSearch}}
                        <span class="help-inline-checkbox">
                            <i class="icon-sonarr-form-warning" title="" data-original-title="Search is not supported with this indexer"></i>
                        </span>
                        {{/unless}}
                    </div>
                </div>
            </div>

            {{formBuilder}}
        </div>
    </div>
    <div class="modal-footer">
        {{#if id}}
            <button class="btn btn-danger pull-left x-delete">Delete</button>
        {{else}}
            <button class="btn pull-left x-back">Back</button>
        {{/if}}
        <span class="indicator x-indicator"><i class="icon-sonarr-spinner fa-spin"></i></span>
        <button class="btn x-test">test <i class="x-test-icon icon-sonarr-test"/></button>
        <button class="btn" data-dismiss="modal">Cancel</button>

        <div class="btn-group">
            <button class="btn btn-primary x-save">Save</button>
            <button class="btn btn-icon-only btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="save-and-add x-save-and-add">
                    save and add
                </li>
            </ul>
        </div>
    </div>
</div>
