@using System.Collections
@using NzbDrone.Web.Models
@using System.Web.Mvc.Html
@model ExistingSeriesModel
@{
    Layout = null;
}

<style>
    .existingSeries
    {
        width: 548px;
        border-color: #f2f2f2;
        border-width: 1px;
        border-style: solid;
        background-color: #f2f2f2;
        margin: 0px 10px 10px 0px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }
    .masterQualitySelector
    {
        left: 202px;
        position: relative;      
    }

    .seriesPathValue
    {
        display: block;
    }
</style>

@if (Model.ExistingSeries.Count == 0)
{
    <h3 style="color: tomato">
        No series available. Try adding a new Root Folder.
    </h3>
}
else
{
    <h3>
        Series Ready to be added.
        @Html.DropDownList(Guid.NewGuid().ToString(), Model.Quality, new { @class = "qualitySelector masterQualitySelector" })
    </h3>
    <div>

    </div>

}

@foreach (var series in Model.ExistingSeries)   
{
    <div class="existingSeries">
        <span class="seriesPathValue">
            @Html.Label(series.Item1)
        </span>
        <div>
            <input class="seriesLookup" type="text" style="width: 400px" value="@series.Item2" />
            @Html.Hidden("seriesId", series.Item3, new { @class = "seriesId" })
            @Html.DropDownList(Guid.NewGuid().ToString(), Model.Quality, new { @class = "qualitySelector" })

            <button>Add</button>
        </div>
    </div>
}
