@using System.Collections
@using NzbDrone.Web.Models
@using System.Web.Mvc.Html
@model ExistingSeriesModel
@{
    Layout = null;
}

@if (Model == null)
{
    <h2 style="color: tomato">
        Error searching TheTVDB, please try again later.
    </h2>
}

else if (!Model.ExistingSeries.Any())
{
    <h2 style="color: tomato">
        No series available. Try adding a new Root Folder.
    </h2>
}
else
{
    @Html.DropDownList(Guid.NewGuid().ToString(), Model.Quality, new { @class = "qualitySelector masterQualitySelector" })

    foreach (var series in Model.ExistingSeries)
    {
    <div class="existingSeries">
        <span class="seriesPathValue">
            <label>@series.Item1</label>
        </span>
        <div class="existingSeriesContainer">
            <input class="seriesLookup" type="text" style="width: 400px;" value="@series.Item2" />
            @Html.Hidden("seriesId", series.Item3, new { @class = "seriesId" })
            @Html.DropDownList(Guid.NewGuid().ToString(), Model.Quality, new { @class = "qualitySelector" })
            <button class="addExistingButton">
                Add</button>
        </div>
    </div>
    }
}
