<div class="search-item {{#unless isExisting}}search-item-new{{/unless}}">
    <div class="row">
        <div class="col-md-2">
            <a href="{{tvdbUrl}}" target="_blank">
                {{poster}}
            </a>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="series-title">
                        {{titleWithYear}}

                        <span class="labels">
                            <span class="label label-default">{{network}}</span>
                            {{#unless_eq status compare="continuing"}}
                                <span class="label label-danger">Ended</span>
                            {{/unless_eq}}
                        </span>
                    </h2>
                </div>
            </div>
            <div class="row new-series-overview x-overview">
                <div class="col-md-12 overview-internal">
                    {{overview}}
                </div>
            </div>
            <div class="row">
                {{#unless existing}}
                    {{#unless path}}
                        <div class="form-group col-md-4">
                            <label>Path</label>
                            {{> RootFolderSelectionPartial rootFolders}}
                        </div>
                    {{/unless}}

                    <div class="form-group col-md-2">
                        <label>Monitor <i class="icon-nd-form-info monitor-tooltip x-monitor-tooltip"></i></label>
                        <select class="form-control col-md-2 x-monitor">
                            <option value="all">All</option>
                            <option value="future">Future</option>
                            <option value="missing">Missing</option>
                            <option value="existing">Existing</option>
                            <!--<option value="latest">Latest Season</option>-->
                            <option value="first">First Season</option>
                            <option value="none">None</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label>Profile</label>
                        {{> ProfileSelectionPartial profiles}}
                    </div>

                    <div class="form-group col-md-2">
                        <label>Series Type</label>
                        {{> SeriesTypeSelectionPartial}}
                    </div>

                    <div class="form-group col-md-2">
                        <label>Season Folders</label>

                        <div class="input-group">
                            <label class="checkbox toggle well">
                                <input type="checkbox" class="x-season-folder"/>
                                <p>
                                    <span>Yes</span>
                                    <span>No</span>
                                </p>
                                <div class="btn btn-primary slide-button"/>
                            </label>
                        </div>
                    </div>
                {{/unless}}
            </div>
            <div class="row">
                {{#unless existing}}
                    {{#if title}}
                    <div class="form-group col-md-2 col-md-offset-10">
                        <!--Uncomment if we need to add even more controls to add series-->
                        <!--<label style="visibility: hidden">Add</label>-->
                        <div class="btn-group">
                            <button class="btn btn-success add x-add" title="Add">
                                <i class="icon-plus"></i>
                            </button>

                            <button class="btn btn-success add x-add-search" title="Add and Search for missing episodes">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </div>
                    {{else}}
                        <div class="col-md-2 col-md-offset-10" title="Series requires an English title">
                            <button class="btn add-series disabled">
                                Add
                            </button>
                        </div>
                    {{/if}}
                {{else}}
                    <div class="col-md-2 col-md-offset-10">
                        <button class="btn add-series disabled">
                            Already Exists
                        </button>
                    </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>
