<div class="notification-item thingy">
    <div>
        <h3>{{name}}</h3>
    </div>

    <div class="settings">
        {{#if supportsOnGrab}}
            {{#if onGrab}}
                <span class="label label-success">On Grab</span>
            {{else}}
                <span class="label label-default">On Grab</span>
            {{/if}}
        {{else}}
            <span class="label label-default label-disabled">On Grab</span>
        {{/if}}

        {{#if supportsOnDownload}}
            {{#if onDownload}}
                <span class="label label-success">On Download</span>
            {{else}}
                <span class="label label-default">On Download</span>
            {{/if}}
        {{else}}
            <span class="label label-default label-disabled">On Download</span>
        {{/if}}

        {{#if supportsOnUpgrade}}
            {{#if onUpgrade}}
                <span class="label label-success">On Upgrade</span>
            {{else}}
                <span class="label label-default">On Upgrade</span>
            {{/if}}
        {{else}}
            <span class="label label-default label-disabled">On Upgrade</span>
        {{/if}}

        {{#if supportsOnRename}}
            {{#if onRename}}
                <span class="label label-success">On Rename</span>
            {{else}}
                <span class="label label-default">On Rename</span>
            {{/if}}
        {{else}}
            <span class="label label-default label-disabled">On Rename</span>
        {{/if}}
    </div>
</div>
