<div class="series-item">
    <div class="row">
        <div class="col-md-2 col-xs-3">
            <a href="{{route}}">
                {{poster}}
            </a>
        </div>
        <div class="col-md-10 col-xs-9">
            <div class="row">
                <div class="col-md-10 col-xs-10">
                    <a href="{{route}}" target="_blank">
                        <h2>{{title}}</h2>
                    </a>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="pull-right series-overview-list-actions">
                        <i class="icon-sonarr-refresh x-refresh" title="Update series info and scan disk"/>
                        <i class="icon-sonarr-edit x-edit" title="Edit Series"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <a href="{{route}}">
                        <div>
                            {{overview}}
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
            <div class="row">
                <div class="col-md-10 col-xs-8">
                    {{#if_eq status compare="ended"}}
                        <span class="label label-danger">Ended</span>
                    {{/if_eq}}

                    {{#if nextAiring}}
                        <span class="label label-default">{{RelativeDate nextAiring}}</span>
                    {{/if}}

                    {{seasonCountHelper}}

                    {{profile profileId}}
                </div>
                <div class="col-md-2 col-xs-4">
                    {{> EpisodeProgressPartial }}
                </div>
            </div>
        </div>
    </div>
</div>
