@using NzbDrone.Web.Helpers
@{ViewBag.Title = "Settings";}

<div class="jquery-tabs">
    <ul>
        <li>@Html.ActionLink("Naming", "Naming", "Settings")</li>
        <li>@Html.ActionLink("Indexers", "Indexers", "Settings")</li>
        <li>@Html.ActionLink("Quality", "Quality", "Settings")</li>
        <li>@Html.ActionLink("Download Client", "DownloadClient", "Settings")</li>
        <li>@Html.ActionLink("Notifications", "Notifications", "Settings")</li>
        <li>@Html.ActionLink("System", "System", "Settings")</li>
        <li>@Html.ActionLink("Misc", "Misc", "Settings")</li>
    </ul>
</div>

@section Scripts{
    @Html.IncludeScript("NzbDrone/settings.js")
}