@using NzbDrone.Web.Helpers
@{ViewBag.Title = "Settings";}

@section HeaderContent
{
    @Html.IncludeCss("Settings.css")
    @Html.IncludeCss("IndexerSettings.css")
    @Html.IncludeCss("QualitySettings.css")
}

<div class="jquery-tabs">
    <ul>
        <li><a href="#Naming">Naming</a></li>
        <li>@Html.ActionLink("Quality", "Quality", "Settings")</li>
        <li>@Html.ActionLink("Indexers", "Indexers", "Settings")</li>
        <li>@Html.ActionLink("Download Client", "DownloadClient", "Settings")</li>
        <li>@Html.ActionLink("Notifications", "Notifications", "Settings")</li>
        <li>@Html.ActionLink("System", "System", "Settings")</li>
        <li>@Html.ActionLink("Misc", "Misc", "Settings")</li>
    </ul>
    
    <div id="Naming">@{ Html.RenderAction("Naming", "Settings"); }</div>
</div>

@section Scripts{
    @Html.IncludeScript("NzbDrone/settings.js")
    @Html.IncludeScript("NzbDrone/qualitySettings.js")
}