@{ViewBag.Title = "Settings";}

<div class="jquery-tabs">
    <ul>
        <li>@Html.ActionLink("Naming", "Naming", "Settings")</li>
        <li>@Html.ActionLink("Indexers", "Indexers", "Settings")</li>
        <li>@Html.ActionLink("Quality", "Quality", "Settings")</li>
        <li>@Html.ActionLink("SABnzbd", "Sabnzbd", "Settings")</li>
        <li>@Html.ActionLink("Notifications", "Notifications", "Settings")</li>
        <li>@Html.ActionLink("System", "System", "Settings")</li>
    </ul>
</div>