@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.MiscSettingsModel
@{ Layout = null; }

<div class="warningBox">
    Enabling Backlog Searching can use lots of bandwidth and is not recommended for Users with block Usenet accounts or bandwidth restrictions.
</div>

<div id="stylized">
    @using (Html.BeginForm("SaveMisc", "Settings", FormMethod.Post, new { id = "MiscForm", name = "MiscForm", @class = "settingsForm" }))
    {       
        <label class="labelClass">@Html.LabelFor(m => m.EnableBacklogSearching)
            <span class="small">@Html.DescriptionFor(m => m.EnableBacklogSearching)</span>
        </label>
        @Html.CheckBoxFor(m => m.EnableBacklogSearching, new { @class = "inputClass checkClass" })

        <label class="labelClass">@Html.LabelFor(m => m.AutoIgnorePreviouslyDownloadedEpisodes)
            <span class="small">@Html.DescriptionFor(m => m.AutoIgnorePreviouslyDownloadedEpisodes)</span>
        </label>
        @Html.CheckBoxFor(m => m.AutoIgnorePreviouslyDownloadedEpisodes, new { @class = "inputClass checkClass" })

        <label class="labelClass">@Html.LabelFor(m => m.AllowedReleaseGroups)
            <span class="small">@Html.DescriptionFor(m => m.AllowedReleaseGroups)</span>
        </label>
        @Html.TextBoxFor(m => m.AllowedReleaseGroups, new { @class = "inputClass" })

        <div style="overflow: hidden; height: 50px;">
        </div>
        
        <button type="submit" class="save_button" disabled="disabled">
            Save</button>
    }
</div>
