@model NzbDrone.Core.Repository.NewznabDefinition
@using NzbDrone.Web.Helpers
@{
    Layout = null;
}

@using (Html.BeginCollectionItem("NewznabDefinitions"))
{
    var idClean = ViewData.TemplateInfo.HtmlFieldPrefix.Replace('[', '_').Replace(']', '_');

    <div class="providerSection" id="provider_@(Model.Id)">
        <div class="providerHeader">
            <span class="titleText" id="title_@(Model.Id)">
                @Model.Name
            </span>
            @if(!Model.BuiltIn)
            {
                <a href="/settings/deletenewznabprovider?providerId=@Model.Id" id="@Model.Id" class="deleteProvider" onclick="deleteProvider('@(Model.Id)'); return false;">
                    <i class="icon-remove remove-newznab"></i></a>
            }
        </div>
        <div class="providerOptions">
            <div>
                @Html.Label("Enabled")
                @Html.CheckBoxFor(m => m.Enable)
            </div>
            
            <div>
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new {@class = "providerName_textbox"})
            </div>
            <div>
                @if(!Model.BuiltIn)
                {
                    @Html.LabelFor(x => x.Url)
                    @Html.TextBoxFor(m => m.Url)
                }
            
                else
                {
                    @Html.LabelFor(x => x.Url)
                    @Html.TextBox("DisabledIndexer", Model.Url, new { disabled = "disabled" })
                    @Html.HiddenFor(m => m.Url)
                }
            </div>
            
            <div>
                @Html.LabelFor(x => x.ApiKey)
                @Html.TextBoxFor(m => m.ApiKey)
            </div>
        </div>

        @Html.HiddenFor(x => x.Id, new {@class = "newznabProviderId"})
        @Html.Hidden("cleanId", idClean, new {@class = "cleanId"})
        @Html.HiddenFor(m => m.BuiltIn)
    </div>
}