@using NzbDrone.Web.Helpers;
@model NzbDrone.Web.Models.DownloadClientSettingsModel

@{
    Layout = null;
}

<div class="downloadClient">
    <label class="labelClass">@Html.LabelFor(m => m.NzbgetHost)
        <span class="small">@Html.DescriptionFor(m => m.NzbgetHost)</span>
        <span class="small">@Html.ValidationMessageFor(m => m.NzbgetHost)</span>
    </label>
    @Html.TextBoxFor(m => m.NzbgetHost, new { @class = "inputClass" })

    <label class="labelClass">@Html.LabelFor(m => m.NzbgetPort)
        <span class="small">@Html.DescriptionFor(m => m.NzbgetPort)</span>
        <span class="small">@Html.ValidationMessageFor(m => m.NzbgetPort)</span>
    </label>
    @Html.TextBoxFor(m => m.NzbgetPort, new { @class = "inputClass" })

    <label class="labelClass">@Html.LabelFor(m => m.NzbgetUsername)
        <span class="small">@Html.DescriptionFor(m => m.NzbgetUsername)</span>
    </label>
    @Html.TextBoxFor(m => m.NzbgetUsername, new { @class = "inputClass" })

    <label class="labelClass">@Html.LabelFor(m => m.NzbgetPassword)
        <span class="small">@Html.DescriptionFor(m => m.NzbgetPassword)</span>
    </label>
    @Html.TextBoxFor(m => m.NzbgetPassword, new { @class = "inputClass", type = "password" })

    <label class="labelClass">@Html.LabelFor(m => m.NzbgetTvCategory)
        <span class="small">@Html.DescriptionFor(m => m.NzbgetTvCategory)</span>
    </label>
    @Html.TextBoxFor(m => m.NzbgetTvCategory, new { @class = "inputClass" })

    <label class="labelClass">@Html.LabelFor(m => m.NzbgetBacklogTvPriority)
        <span class="small">@Html.DescriptionFor(m => m.NzbgetBacklogTvPriority)</span>
    </label>
    @Html.DropDownListFor(m => m.NzbgetBacklogTvPriority, Model.NzbgetPrioritySelectList, new { @class = "inputClass selectClass" })
    
    <label class="labelClass">@Html.LabelFor(m => m.NzbgetRecentTvPriority)
        <span class="small">@Html.DescriptionFor(m => m.NzbgetRecentTvPriority)</span>
    </label>
    @Html.DropDownListFor(m => m.NzbgetRecentTvPriority, Model.NzbgetPrioritySelectList, new { @class = "inputClass selectClass" })

    <label class="labelClass">Test Nzbget
        <span class="small">Test Nzbget settings</span>
    </label>
    <input type="button" onclick="testNzbget();" value="Test" class="inputClass" />
</div>