@using NzbDrone.Core.Repository.Quality
@using NzbDrone.Web.Helpers;
@model NzbDrone.Web.Models.QualityModel
@{ Layout = "~/Views/Shared/_ReferenceLayout.cshtml"; }
@section HeaderContent{
    @Html.IncludeCss("Settings.css")
    @Html.IncludeCss("QualitySettings.css")
}
<div id="stylized">
    @using (Html.BeginForm("SaveQuality", "Settings", FormMethod.Post, new { id = "QualityForm", name = "QualityForm" }))
    {
        <div id="top" class="settingsForm">
            <label class="labelClass">@Html.LabelFor(m => m.DefaultQualityProfileId)
                <span class="small">@Html.DescriptionFor(m => m.DefaultQualityProfileId)</span>
            </label>
            @Html.DropDownListFor(m => m.DefaultQualityProfileId, Model.QualityProfileSelectList, new { @class = "inputClass" })
        </div>
        
        <div class="jquery-accordion">
            <h3>
                <a href="#">Sizes</a></h3>
            <div class="sliders">
                <div class="slider-container">
                    <b>SDTV</b>
                    <div id="sdtv-slider" class="slider">
                    </div>
                    @Html.HiddenFor(m => m.SdtvMaxSize, new { @class = "slider-value" })
                    30 minute size: <span class="30-minute"></span>| 60 minute size: <span class="60-minute">
                    </span>
                </div>
                <div class="slider-container">
                    <b>DVD</b>
                    <div id="dvd-slider" class="slider">
                    </div>
                    @Html.HiddenFor(m => m.DvdMaxSize, new { @class = "slider-value" })
                    30 minute size: <span class="30-minute"></span>| 60 minute size: <span class="60-minute">
                    </span>
                </div>
                <div class="slider-container">
                    <b>HDTV</b>
                    <div id="hdtv-slider" class="slider">
                    </div>
                    @Html.HiddenFor(m => m.HdtvMaxSize, new { @class = "slider-value" })
                    30 minute size: <span class="30-minute"></span>| 60 minute size: <span class="60-minute">
                    </span>
                </div>
                <div class="slider-container">
                    <b>WEBDL</b>
                    <div id="webdl-slider" class="slider">
                    </div>
                    @Html.HiddenFor(m => m.WebdlMaxSize, new { @class = "slider-value" })
                    30 minute size: <span class="30-minute"></span>| 60 minute size: <span class="60-minute">
                    </span>
                </div>
                <div class="slider-container">
                    <b>Bluray 720p</b>
                    <div id="bluray720p-slider" class="slider">
                    </div>
                    @Html.HiddenFor(m => m.Bluray720pMaxSize, new { @class = "slider-value" })
                    30 minute size: <span class="30-minute"></span>| 60 minute size: <span class="60-minute">
                    </span>
                </div>
                <div class="slider-container">
                    <b>Bluray 1080p</b>
                    <div id="bluray1080p-slider" class="slider">
                    </div>
                    @Html.HiddenFor(m => m.Bluray1080pMaxSize, new { @class = "slider-value" })
                    30 minute size: <span class="30-minute"></span>| 60 minute size: <span class="60-minute">
                    </span>
                </div>
            </div>
            <h3>
                <a href="#">Profiles</a></h3>
            <div id="profileContainer">
                <div id="profileHeader">
                    <a id="addItem" href="@Url.Action("AddProfile", "Settings")">
                        <img src="../../Content/Images/Plus.png" alt="Add New Profile" width="20px" height="20px" />
                        Add New Profile</a>
                </div>
                <div id="profiles">
                    @foreach (var item in (List<QualityProfile>)ViewData["Profiles"])
                    {
                        Html.RenderAction("GetQualityProfileView", item);
                    }
                </div>
            </div>
        </div>
        
        
        <br />
        <button type="submit" class="save_button" disabled="disabled">
            Save</button>
    }
</div>
@section Scripts{
    @Html.IncludeScript("MicrosoftAjax.js")
    
    <script type="text/javascript">
        $('.quality-selectee').livequery(function () {
            $(this).button();
        });
    </script>
}
