@model NzbDrone.Core.Repository.Quality.QualityProfile
@using System.Collections
@using NzbDrone.Core.Repository.Quality
@using NzbDrone.Web.Helpers
@{
    Layout = null;
}

@using (Html.BeginCollectionItem("Profiles"))
{
    var idClean = ViewData.TemplateInfo.HtmlFieldPrefix.Replace('[', '_').Replace(']', '_');

    <div class="profileSection" id="profile_@(Model.QualityProfileId)">
        <div class="qualityHeader">
            <span class="titleText" id="title_@(Model.QualityProfileId)">
                @Model.Name
            </span>
            <a href="#" id="@Model.QualityProfileId" class="deleteProfile" onclick=" deleteProfile('@(Model.QualityProfileId)'); return false;">
                <img src="../../Content/Images/X.png" alt="Delete" width="22px" height="22px" /></a>
        </div>
        <div class="profileOptions">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new {@class = "profileName_textbox"})

            @Html.LabelFor(x => x.Cutoff)
            @Html.DropDownListFor(m => m.Cutoff, new SelectList(Model.Allowed, Model.Cutoff))
        </div>
        <div id = "selectable_@(Model.QualityProfileId)" class="qualitySelector">
            @{ var qualitiesList = (List<QualityTypes>) ViewData["Qualities"]; }
            @for (int i = 0; i < qualitiesList.Count(); i++)
            {
                if (qualitiesList[i].ToString() == "Unknown")
                {
                    continue;
                }

                if (Model.Allowed != null)
                {
                    if (Model.Allowed.Contains(qualitiesList[i]))
                    {
                        <div class="quality-selectee quality-selected">@qualitiesList[i].ToString()</div>
                        continue;
                    }
                }

                <div class="quality-selectee">@qualitiesList[i].ToString()</div>
            }
        </div>
        @Html.HiddenFor(x => x.QualityProfileId, new {@class = "qualityProfileId"})
        @Html.HiddenFor(m => m.AllowedString)
        @Html.Hidden("cleanId", idClean, new {@class = "cleanId"})
    </div>
}