@model NzbDrone.Web.Models.QualityProfileModel
@using NzbDrone.Web.Helpers
@{
    Layout = null;
}
@using (Html.BeginCollectionItem("Profiles"))
{
    var idClean = ViewData.TemplateInfo.HtmlFieldPrefix.Replace('[', '_').Replace(']', '_');

    <div class="profileSection" id="profile_@(Model.QualityProfileId)">
        <div class="qualityHeader">
            <span class="titleText" id="title_@(Model.QualityProfileId)">
                @Model.Name
            </span><a href="#" id="@Model.QualityProfileId" class="deleteProfile" onclick=" deleteProfile('@(Model.QualityProfileId)'); return false;">
                <img src="../../Content/Images/X.png" alt="Delete" width="22px" height="22px" /></a>
        </div>
        <div class="profileOptions">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "profileName_textbox" })
            @Html.LabelFor(x => x.Cutoff)
            @Html.DropDownListFor(m => m.Cutoff, new SelectList(Model.Allowed, Model.Cutoff))
        </div>
        <div class="qualitySelector">
            @Html.CheckBoxFor(m => m.Sdtv, new { @class = "quality-selectee" })
            @Html.LabelFor(m => m.Sdtv)
            @Html.CheckBoxFor(m => m.Dvd, new { @class = "quality-selectee" })
            @Html.LabelFor(m => m.Dvd)
            @Html.CheckBoxFor(m => m.Hdtv, new { @class = "quality-selectee" })
            @Html.LabelFor(m => m.Hdtv)
            @Html.CheckBoxFor(m => m.Webdl, new { @class = "quality-selectee" })
            @Html.LabelFor(m => m.Webdl)
            @Html.CheckBoxFor(m => m.Bluray720p, new { @class = "quality-selectee" })
            @Html.LabelFor(m => m.Bluray720p)
            @Html.CheckBoxFor(m => m.Bluray1080p, new { @class = "quality-selectee" })
            @Html.LabelFor(m => m.Bluray1080p)
        </div>
        @Html.HiddenFor(x => x.QualityProfileId, new { @class = "qualityProfileId" })
        @Html.Hidden("cleanId", idClean, new { @class = "cleanId" })
    </div>
}
