@using NzbDrone.Web.Helpers;
@model NzbDrone.Web.Models.DownloadClientSettingsModel

@{
    Layout = null;
}

<div class="downloadClient">
    <label class="labelClass">
        Auto-Configure <span class="small">If access to SABnzbd doesn't require a username +
            password and is on the same system as NzbDrone, you can auto-configure it</span>
    </label>
    <input type="button" onclick="autoConfigureSab(); return false;" value="Auto-Configure"
        class="inputClass" />

    <label class="labelClass">@Html.LabelFor(m => m.SabHost)
        <span class="small">@Html.DescriptionFor(m => m.SabHost)</span>
        <span class="small">@Html.ValidationMessageFor(m => m.SabHost)</span>
    </label>
    @Html.TextBoxFor(m => m.SabHost, new { @class = "inputClass" })

    <label class="labelClass">@Html.LabelFor(m => m.SabPort)
        <span class="small">@Html.DescriptionFor(m => m.SabPort)</span>
        <span class="small">@Html.ValidationMessageFor(m => m.SabPort)</span>
    </label>
    @Html.TextBoxFor(m => m.SabPort, new { @class = "inputClass" })

    <label class="labelClass">@Html.LabelFor(m => m.SabApiKey)
        <span class="small">@Html.DescriptionFor(m => m.SabApiKey)</span>
    </label>
    @Html.TextBoxFor(m => m.SabApiKey, new { @class = "inputClass" })

    <label class="labelClass">@Html.LabelFor(m => m.SabUsername)
        <span class="small">@Html.DescriptionFor(m => m.SabUsername)</span>
    </label>
    @Html.TextBoxFor(m => m.SabUsername, new { @class = "inputClass" })

    <label class="labelClass">@Html.LabelFor(m => m.SabPassword)
        <span class="small">@Html.DescriptionFor(m => m.SabPassword)</span>
    </label>
    @Html.TextBoxFor(m => m.SabPassword, new { @class = "inputClass", type = "password" })

    <label class="labelClass">@Html.LabelFor(m => m.SabTvCategory)
        <span class="small">@Html.DescriptionFor(m => m.SabTvCategory)</span>
    </label>
    @Html.DropDownListFor(m => m.SabTvCategory, Model.SabTvCategorySelectList, new { @class = "inputClass selectClass" })

    <label class="labelClass">@Html.LabelFor(m => m.SabTvPriority)
        <span class="small">@Html.DescriptionFor(m => m.SabTvPriority)</span>
    </label>
    @Html.DropDownListFor(m => m.SabTvPriority, Model.PrioritySelectList, new { @class = "inputClass selectClass" })

    <label class="labelClass">Test SABnzbd
        <span class="small">Test SABnzbd settings</span>
    </label>
    <input type="button" onclick="testSabnzbd();" value="Test" class="inputClass" />
</div>