@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.SystemSettingsModel
           
@section HeaderContent{
    <link rel="stylesheet" type="text/css" href="../../Content/Settings.css" />
}

@section TitleContent{
    Settings
}

@section ActionMenu{
    @{Html.RenderPartial("SubMenu");}
}
    
@section MainContent{       
<div id="stylized">
    @using (Html.BeginForm("SaveSystem", "Settings", FormMethod.Post, new { id = "form", name = "form", @class = "settingsForm" }))
    {
        @Html.ValidationSummary(true, "Unable to save your settings. Please correct the errors and try again.")

        <h1>System</h1>
        <p></p>
    
        <label class="labelClass">@Html.LabelFor(m => m.LaunchBrowser)
        <span class="small">@Html.DescriptionFor(m => m.LaunchBrowser)</span>
        </label>
        @Html.CheckBoxFor(m => m.LaunchBrowser, new { @class = "inputClass checkClass" })
        
        <label class="labelClass">@Html.LabelFor(m => m.Port)
        <span class="small">@Html.DescriptionFor(m => m.Port)</span>
        </label>
        @Html.TextBoxFor(m => m.Port, new { @class = "inputClass" })
        
        <button type="submit" id="save_button" disabled="disabled">Save</button>
    }
</div>
<div id="result" class="hiddenResult"></div>
}
@section Scripts{
    <script src="/Scripts/settingsForm.js" type="text/javascript"></script>
}
