@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.SystemSettingsModel
@{ Layout = "~/Views/Shared/_RefrenceLayout.cshtml"; }

@section HeaderContent{
    <link rel="stylesheet" type="text/css" href="../../Content/Settings.css" />
}
<div id="stylized">
    @using (Html.BeginForm("SaveSystem", "Settings", FormMethod.Post, new { id = "form", name = "form", @class = "settingsForm" }))
    {
        @Html.ValidationSummary(true, "Unable to save your settings. Please correct the errors and try again.")
        <label class="labelClass">@Html.LabelFor(m => m.LaunchBrowser)
            <span class="small">@Html.DescriptionFor(m => m.LaunchBrowser)</span>
        </label>
        @Html.CheckBoxFor(m => m.LaunchBrowser, new { @class = "inputClass checkClass" })
        
        <label class="labelClass">@Html.LabelFor(m => m.Port)
            <span class="small">@Html.DescriptionFor(m => m.Port)</span>
        </label>
        @Html.TextBoxFor(m => m.Port, new { @class = "inputClass" })

        <label class="labelClass">@Html.LabelFor(m => m.AuthenticationType)
            <span class="small">@Html.DescriptionFor(m => m.AuthenticationType)</span>
        </label>
        @Html.DropDownListFor(m => m.AuthenticationType, Model.AuthTypeSelectList, new { @class = "inputClass" })
        
        <button type="submit" id="save_button" disabled="disabled">
            Save</button>
    }
</div>
@section Scripts{
    <script src="../../Scripts/NzbDrone/settingsForm.js" type="text/javascript"></script>
}
