@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.NotificationSettingsModel

@{
    Layout = null;
}

<div class="notifier">
    <label class="labelClass">@Html.LabelFor(m => m.TwitterEnabled)
    <span class="small">@Html.DescriptionFor(m => m.TwitterEnabled)</span>
    </label>
    @Html.CheckBoxFor(m => m.TwitterEnabled, new { @class = "inputClass checkClass" })

    <label class="labelClass">@Html.LabelFor(m => m.TwitterNotifyOnGrab)
    <span class="small">@Html.DescriptionFor(m => m.TwitterNotifyOnGrab)</span>
    </label>
    @Html.CheckBoxFor(m => m.TwitterNotifyOnGrab, new { @class = "inputClass checkClass" })

    <label class="labelClass">@Html.LabelFor(m => m.TwitterNotifyOnDownload)
    <span class="small">@Html.DescriptionFor(m => m.TwitterNotifyOnDownload)</span>
    </label>
    @Html.CheckBoxFor(m => m.TwitterNotifyOnDownload, new { @class = "inputClass checkClass" })

    <label class="labelClass">Request Authorization
    <span class="small">Begin Twitter authorization for NzbDrone</span>
    </label>
    <input type="button" onclick="requestTwitterAuthorization();" value="Requestion Authorization" class="inputClass"/>

    <label class="labelClass">Verification PIN
    <span class="small">PIN from Twitter to provide authorization to NzbDrone</span>
    </label>
    @Html.TextBox("twitterVerification", "", new { @class = "inputClass" })

    <label class="labelClass">Verify & Test Authorization
    <span class="small">Verify & Test Twitter authorization for NzbDrone (Send a test tweet)</span>
    </label>
    <input type="button" onclick="verifyTwitterAuthorization();" value="Test Authorization" class="inputClass"/>

    @Html.Hidden("authorizationRequestToken")
</div>