<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@{ Layout = "~/Views/Shared/_ReferenceLayout.cshtml"; }
@using System.Web.Mvc.Html
@using NzbDrone.Common
@using NzbDrone.Web.Helpers
@section HeaderContent
{
    @if (string.IsNullOrWhiteSpace(ViewBag.Title) || String.Equals(ViewBag.Title, "NzbDrone", StringComparison.InvariantCultureIgnoreCase))
    {
        ViewBag.Title = "NzbDrone";
    }
    else
    {
        ViewBag.Title = String.Format("{0} - NzbDrone", ViewBag.Title);
    }
    <title>@ViewBag.Title</title>
    @RenderSection("HeaderContent", required: false)
}
<div id="centered">
    <div id="menu">
        <ul>
            @*@MvcHtmlString.Create(Html.CurrentActionLink("Series", "Index", "Series"))
            @MvcHtmlString.Create(Html.CurrentActionLink("Upcoming", "Index", "Upcoming"))
            @MvcHtmlString.Create(Html.CurrentActionLink("History", "Index", "History"))
            @MvcHtmlString.Create(Html.CurrentActionLink("Missing", "Index", "Missing"))
            @MvcHtmlString.Create(Html.CurrentActionLink("Settings", "Index", "Settings"))
            @MvcHtmlString.Create(Html.CurrentActionLink("Logs", "Index", "Log"))*@
        </ul>
    </div>
    <div id="logo">
        @ViewBag.Title
    </div>
    <div id="page">
        @RenderSection("ActionMenu", required: false)
        @RenderBody()
    </div>
    <div id="footer">
        @{Html.RenderPartial("Footer");}
    </div>
</div>
<div id="msgBox">
    <span id="msgText">background notification</span>
</div>
@section Scripts
{
    @RenderSection("Scripts", required: false)
}
