<div class="series-posters-item">
    <div class="center">
        <div class="series-poster-container x-series-poster-container">
            <div class="series-controls x-series-controls">
                <i class="icon-sonarr-refresh x-refresh" title="Refresh Series"/>
                <i class="icon-sonarr-edit x-edit" title="Edit Series"/>
            </div>
            {{#unless_eq status compare="continuing"}}
                <div class="ended-banner">Ended</div>
            {{/unless_eq}}
            <a href="{{route}}">
                {{poster}}
                <div class="center title">{{title}}</div>
            </a>
            <div class="hidden-title x-title">
                {{title}}
            </div>
        </div>
    </div>

    <div class="center">
        <div class="labels">
            {{> EpisodeProgressPartial }}

            {{#if nextAiring}}
                <span class="label label-default">{{RelativeDate nextAiring}}</span>
            {{/if}}
        </div>
    </div>
</div>
