<div class="update">
    <fieldset>
        <legend>{{version}}
            <span class="date">
                - {{ShortDate releaseDate}}
            </span>
            <span class="status">
                {{#if installed}}
                    <span class="label label-success">Installed</span>
                {{else}}
                    {{#if isUpgrade}}
                        <span class="label label-default install-update x-install-update">Install</span>
                    {{else}}
                        <span class="label label-default label-disabled" title="Cannot install an older version">Install</span>
                    {{/if}}
                {{/if}}
            </span>
        </legend>

        {{#with changes}}
            {{#each new}}
                <div class="change">
                    <span class="label label-success">New</span> {{this}}
                </div>
            {{/each}}

            {{#each fixed}}
                <div class="change">
                    <span class="label label-info">Fixed</span> {{this}}
                </div>
            {{/each}}
        {{/with}}

        {{#unless changes}}
            Maintenance release
        {{/unless}}
    </fieldset>
</div>
