
@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.EpisodeModel

<tr class="@Model.EpisodeId data-row@(ViewData["AltRow"] == null || !(bool)ViewData["AltRow"] ? "" : " alt-row")">
    <td>@Model.EpisodeNumber</td>
    <td>@Model.Title</td>
    <td>@Model.AirDate</td>
    <td>@Model.Quality</td>
    
    @{
        string cellColourClass = String.Empty;

        if (Model.Status == "Missing")
        {
            cellColourClass = "episodeMissing";
        }
        
        if (Model.Ignored)
        {
            cellColourClass = "episodeIgnored";
        }
    }

    @*Commands Column*@
    <td class="@cellColourClass">
        <img src='../../Content/Images/@(Model.Ignored ? "ignored" : "notIgnored").png' class='ignoreEpisode ignoreEpisode_@(Model.SeasonNumber)@(Model.Ignored ? " ignored" : " ") gridImage' id='@Model.EpisodeId' title='Click to toggle episode ignore status' />
        <img src='../../Content/Images/@(Model.Status).png' alt='@Model.Status' title='@Model.Status' class='gridImage status-@Model.Status' />
        @Ajax.ImageActionLink("../../Content/Images/Search.png", new { Alt = "Search", Title = "Search for episode", @class = "gridImage" }, "Search", "Episode", new { episodeId = Model.EpisodeId }, null, null)
        @Ajax.ImageActionLink("../../Content/Images/Rename.png", new { Alt = "Rename", Title = "Rename episode", @class = "gridImage" }, "Rename", "Episode", new { episodeFileId = Model.EpisodeFileId }, null, null)
    </td>
</tr>
<tr class="detail-row@(ViewData["AltRow"] == null || !(bool)ViewData["AltRow"] ? "" : " alt-row")">
    <td colspan="5">
        @Model.Overview <br />
        <b>@Model.Path</b>
    </td>
</tr>