@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.EpisodeModel

<tr class="data-row@(ViewData["AltRow"] == null || !(bool)ViewData["AltRow"] ? "" : " alt-row")" data-episodefileid="@Model.EpisodeFileId" data-episode-id="@Model.EpisodeId">
    <td>@Model.EpisodeNumber</td>
    <td>@Model.Title</td>
    <td>@Model.AirDate</td>
    <td class="episodeQuality" data-qualityid="@Model.QualityId">@Model.Quality</td>
    
    @{
        string cellColourClass = String.Empty;

        if (Model.Status == "Missing")
        {
            cellColourClass = "episodeMissing";
        }
        
        if (Model.Ignored)
        {
            cellColourClass = "episodeIgnored";
        }
    }

    @*Commands Column*@
    <td class="@cellColourClass">
        <i class="icon-eye-open ignoreEpisode @(Model.Ignored ? " ignored" : " ") gridAction" title="Click to toggle episode ignore status" data-season="@Model.SeasonNumber" data-episode-id="@Model.EpisodeId" ></i>
        @Ajax.IconActionLink("icon-search gridAction", "", "Search", "Episode", new { EpisodeId = Model.EpisodeId }, null, new { title = "Search for episode" })
        <i class="icon-tag changeQuality gridAction" title="Click to change the quality of the episode file" data-changetype="episode"></i>
        <i class="gridImage statusImage" title="@Model.Status" data-status="@Model.Status" ></i>
    </td>
</tr>
<tr class="detail-row@(ViewData["AltRow"] == null || !(bool)ViewData["AltRow"] ? "" : " alt-row")">
    <td colspan="5">
        @Model.Overview <br />
        <b>@Model.Path</b>
    </td>
</tr>