@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.SeasonModel

<h1>
    @(Model.SeasonNumber == 0 ? "Specials" : "Season " + Model.SeasonNumber)
</h1>

<table class="seriesTable" data-season="@Model.SeasonNumber">
    <colgroup>
        <col style="width:40px"/>
        <col style="width:auto"/>
        <col style="width:100px" />
        <col style="width:100px" />
        <col style="width:110px" />
    </colgroup>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Air Date</th>
            <th>Quality</th>
        
            @*Commands Column*@
            <th>
                <i class="icon-eye-open ignoredEpisodesMaster ignoreEpisode @(Model.Ignored ? " ignored" : " ") gridAction" title="Click to toggle season ignore status" data-season="@Model.SeasonNumber"></i>
                @Ajax.IconActionLink("icon-search gridAction", "", "SearchSeason", "Episode", new { SeriesId = Model.SeriesId, SeasonNumber = Model.SeasonNumber }, null, new { title = "Search for all episodes in this season" })
                <i class="icon-tag changeQuality gridAction" title="Click to change the quality of all episode files in this season" data-changetype="season"></i>
                @Ajax.IconActionLink("icon-pencil gridAction", "", "RenameSeason", "Episode", new { SeriesId = Model.SeriesId, SeasonNumber = Model.SeasonNumber }, null, new { Title = "Rename all episodes in this season" })
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Episodes.Count; i++)
        {
            var episode = Model.Episodes[i];
        
            if (i % 2 == 0)
            {
                Html.RenderPartial("Episode", episode);
            }

            else
            {
                Html.RenderPartial("Episode", episode, new ViewDataDictionary { new KeyValuePair<string, object>("AltRow", true) });
            }
        }
    </tbody>
</table>