@using NzbDrone.Web.Helpers
@model NzbDrone.Web.Models.SeriesModel

<tr class="@Model.SeriesId data-row @(ViewData["AltRow"] == null || !(bool)ViewData["AltRow"] ? "" : " alt-row")">
     <td class="statusColumn">
        @{if (!Model.Monitored)
            {
                <img src="../../Content/Images/pause.png" width="24" height="24" alt="Paused" title="Not monitored" />
            }
            else
            {
                if (Model.Status == "Ended")
                {
                    <img src="../../Content/Images/stop.png" width="24" height="24" alt="Ended" title="Ended" />
                }
                else
                {
                <img src="../../Content/Images/play.png" width="24" height="24" alt="Active" title="Continuing" />
                }
            }
        }
    </td>
    <td>@Html.ActionLink(Model.Title, "Details", "Series", new { seriesId = Model.SeriesId }, null)</td>
    <td>@Model.SeasonsCount</td>
    <td>@Model.QualityProfileName</td>

    <td>@Model.NextAiring</td>
    <td>
        @{ double progress = (double)Model.EpisodeFileCount / (double)Model.EpisodeCount * 100; }
        <div class='progressBar' rel='@progress.ToString("0")'>
            <span class='progressBarText'>@Model.EpisodeFileCount / @Model.EpisodeCount</span>
        </div>
    </td>
    
    @*Commands Column*@
    <td class="commandsColumn">
        <img src="../../Content/Images/settings.png" class="editButton" value="@Model.SeriesId" rel="@Model.Title" />
        <img src="../../Content/Images/close.png" class="deleteButton" value="@Model.SeriesId" rel="@Model.Title" />
    </td>
</tr>
<tr class="detail-row details_@(Model.SeriesId) @(ViewData["AltRow"] == null || !(bool)ViewData["AltRow"] ? "" : " alt-row")">
    <td colspan="7">
        <b>Airs Day of Week:</b> @Model.AirsDayOfWeek <br/>
        <b>Overview:</b> @Model.Overview
    </td>
</tr>