<div class="series-season" id="season-{{seasonNumber}}">
    <h2>
        <i class="x-season-monitored season-monitored clickable" title="Toggle season monitored status"/>

        {{#if seasonNumber}}
        Season {{seasonNumber}}
        {{else}}
        Specials
        {{/if}}


        {{#if_eq episodeCount compare=0}}
            {{#if monitored}}
                <span class="badge badge-primary season-status" title="No aired episodes">&nbsp;</span>
            {{else}}
                <span class="badge badge-warning season-status" title="Season is not monitored">&nbsp;</span>
            {{/if}}
        {{else}}
            {{#if_eq percentOfEpisodes compare=100}}
                <span class="badge badge-success season-status" title="{{episodeFileCount}}/{{episodeCount}} episodes downloaded">{{episodeFileCount}} / {{episodeCount}}</span>
            {{else}}
                <span class="badge badge-danger season-status" title="{{episodeFileCount}}/{{episodeCount}} episodes downloaded">{{episodeFileCount}} / {{episodeCount}}</span>
            {{/if_eq}}
        {{/if_eq}}

        <span class="season-actions pull-right">
            <div class="x-season-episode-file-editor">
                <i class="icon-sonarr-episode-file" title="Modify episode files for season"/>
            </div>
            <div class="x-season-rename">
                <i class="icon-sonarr-rename" title="Preview rename for season {{seasonNumber}}"/>
            </div>
            <div class="x-season-search">
                <i class="icon-sonarr-search" title="Search for monitored episodes in season {{seasonNumber}}"/>
            </div>
        </span>
    </h2>
    <div class="show-hide-episodes x-show-hide-episodes">
        <h4>
            {{#if showingEpisodes}}
            <i class="icon-sonarr-panel-hide"/>
            Hide Episodes
            {{else}}
            <i class="icon-sonarr-panel-show"/>
            Show Episodes
            {{/if}}
        </h4>
    </div>
    <div class="x-episode-grid table-responsive"></div>
</div>
