@using NzbDrone.Web.Helpers
@{
    ViewBag.Title = "System";
    Layout = "~/Views/Shared/_Bootstrap.cshtml";

    }

@*
@section HeaderContent
{
    @Html.IncludeCss("Settings.css")
    <style>
        .controls {
            width: 620px;
            padding: 14px;
        }
    </style>
}*@

@section ActionMenu{
    <ul class="sub-menu">
        <li>@Ajax.ActionLink("Restart", "Restart", "System", null, null, new { Title = "Restart NzbDrone" })</li>
        <li>@Ajax.ActionLink("Shutdown", "Shutdown", "System", null, null, new { Title = "Shutdown NzbDrone" })</li>
        <li>@Html.ActionLink("Update", "Index", "Update")</li>
        <li>@Html.ActionLink("Logs", "Logs", "System")</li>
    </ul>
}

<div id="stylized">
    <div class="controls">
        <label class="labelClass"> Backup Configuration
        <span class="small">Backup your Configuration file and Database</span>
        </label>
        <input type="button" value="Backup" onclick="window.location='../System/Backup'; return false;" class="inputClass" />
    </div>
</div>