{{#eachReverse items}}
    {{#with quality}}
        {{#if selected}}
            <option value="{{id}}" selected="selected">{{name}}</option>
        {{else}}
            <option value="{{id}}">{{name}}</option>
        {{/if}}
    {{/with}}
{{/eachReverse}}