<!-- Static navbar -->
<div class="navbar navbar-nzbdrone" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-inverse" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-sonarr-navbar-collapsed fa-lg"></span>
            </button>
            <a class="navbar-brand" href="{{UrlBase}}/">
                <!--<img src="{{UrlBase}}/Content/Images/logo.png?v=2" alt="Sonarr">-->
                <img src="{{UrlBase}}/Content/Images/logos/128.png" class="visible-lg"/>
                <img src="{{UrlBase}}/Content/Images/logos/64.png" class="visible-md"/>
                <img src="{{UrlBase}}/Content/Images/logos/32.png" class="visible-sm"/>
                <span class="visible-xs">
                    <img src="{{UrlBase}}/Content/Images/logos/32.png"/>
                    <span class="logo-text">sonarr</span>
                </span>

            </a>
        </div>
        <div class="navbar-collapse collapse x-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{UrlBase}}/" class="x-series-nav"><i class="icon-sonarr-navbar-icon icon-sonarr-navbar-series"></i> Series</a></li>
				<li><a href="{{UrlBase}}/movie" class="x-movie-nav"><i class="icon-sonarr-navbar-icon icon-sonarr-navbar-movies"></i> Movies</a></li>
                <li><a href="{{UrlBase}}/calendar" class="x-calendar-nav"><i class="icon-sonarr-navbar-icon icon-sonarr-navbar-calendar"></i> Calendar</a></li>
                <li><a href="{{UrlBase}}/activity" class="x-activity-nav"><i class="icon-sonarr-navbar-icon icon-sonarr-navbar-activity"></i> Activity<span id="x-queue-count" class="navbar-info"></span></a></li>
                <li><a href="{{UrlBase}}/wanted" class="x-wanted-nav"><i class="icon-sonarr-navbar-icon icon-sonarr-navbar-wanted"></i> Wanted</a></li>
                <li><a href="{{UrlBase}}/settings" class="x-settings-nav"><i class="icon-sonarr-navbar-icon icon-sonarr-navbar-settings"></i> Settings</a></li>
                <li><a href="{{UrlBase}}/system" class="x-system-nav"><i class="icon-sonarr-navbar-icon icon-sonarr-navbar-system"></i> System<span id="x-health" class="navbar-info"></span></a></li>
                <li><a href="https://sonarr.tv/donate" target="_blank"><i class="icon-sonarr-navbar-icon icon-sonarr-navbar-donate"></i> Donate</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active screen-size"></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->

    <div class="col-md-12 search">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="col-md-6 form-control x-series-search" placeholder="Search the series in your library">
            </div>
        </div>
    </div>
</div>