{{#each seasons}}
    {{debug}}
    <span class="season">
        <span class="label">
            <span class="x-season-monitored season-monitored" title="Toggle season monitored status" data-season-number="{{seasonNumber}}">
                <i class="x-season-monitored-icon {{#if monitored}}icon-sonarr-monitored{{else}}icon-sonarr-unmonitored{{/if}}"/>
            </span>
        {{#if_eq seasonNumber compare="0"}}
            <span class="season-number">Specials</span>
        {{else}}
            <span class="season-number">S{{Pad2 seasonNumber}}</span>
        {{/if_eq}}
        </span><span class="label">
        {{#with statistics}}
            {{#if_eq totalEpisodeCount compare=0}}
                <span class="season-status" title="No aired episodes">&nbsp;</span>
            {{else}}
                {{#if_eq percentOfEpisodes compare=100}}
                    <span class="season-status" title="{{episodeFileCount}}/{{totalEpisodeCount}} episodes downloaded">{{episodeFileCount}}/{{totalEpisodeCount}}</span>
                {{else}}
                    <span class="season-status" title="{{episodeFileCount}}/{{totalEpisodeCount}} episodes downloaded">{{episodeFileCount}}/{{totalEpisodeCount}}</span>
                {{/if_eq}}
            {{/if_eq}}
        {{else}}
            <span class="season-status" title="No aired episodes">&nbsp;</span>
        {{/with}}
        </span>
    </span>
{{/each}}